* {
  font-family: Cabin, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container .row .col p {
  padding-top: 20px;
}

nav {
  background-color: #212121;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;

}

@media screen and (max-width: 950px) {
  .navbar-brand i {
    display: none;
  }

  ul {
    padding-left: 0;
  }

  .container .row .col p {
    font-size: 0.7rem;
  }

  .carousel-caption {
    padding-bottom: 0;
  }

  .responsive {
    padding: 0;
    padding: 10px;
  }

  .res {
    padding-bottom: 20px;
  }

  .display {
    display: none;
  }
  .col-md-3 ul{
    padding:0;
  }
  .col-md-3{
    padding:5px 35px !important;
    border-bottom:1px solid lightgray;
  }
}

ul {
  padding-left: 150px;
}

.carousel-caption {
  padding-bottom: 150px;
  font-weight: bold;
}

.carousel-item img {
  height: 600px;
}

.carousel-caption h5 {
  font-size: 10rem;
}

.col-md-4 {
  overflow-x: hidden;
}

img:hover{
  transform: scale(0.98);
}

img {
  transition: transform .3s ease-out;
}
.nav-link{
  font-size:12px;
}
.text{
  font-size:15px;
}
.carousel-item img{
  transform: scale(1.0);
}
.hov:hover .p{
  display:block;
}